[project]
	description = A Shogi library by pure Ruby. CSA???????????????????????????
[access "refs/*"]
	owner = group user/Yoshiyuki Kawashima (ykws)
[access "refs/for/refs/*"]
	read = group user/Yoshiyuki Kawashima (ykws)
	push = group user/Yoshiyuki Kawashima (ykws)
	label-Code-Review = -2..+2 group user/Yoshiyuki Kawashima (ykws)
	label-Verified = -1..+1 group user/Yoshiyuki Kawashima (ykws)
	rebase = group user/Yoshiyuki Kawashima (ykws)
	removeReviewer = group user/Yoshiyuki Kawashima (ykws)
	submit = group user/Yoshiyuki Kawashima (ykws)
[access "refs/heads/*"]
	read = group user/Yoshiyuki Kawashima (ykws)
	create = group user/Yoshiyuki Kawashima (ykws)
	push = +force group user/Yoshiyuki Kawashima (ykws)
	pushMerge = group user/Yoshiyuki Kawashima (ykws)
[access "refs/tags/*"]
	push = +force group user/Yoshiyuki Kawashima (ykws)
	pushTag = group user/Yoshiyuki Kawashima (ykws)
	pushSignedTag = group user/Yoshiyuki Kawashima (ykws)
